<section class="sidebar">
    <h1 class="site-title">Bloc Chat</h1> 
    <button class="button-space" type="button" ng-click="home.open()">Add Room</button>
        <div ng-repeat="room in home.rooms">
            <a class="room-list" ng-click="home.setCurrentRoom(room)">{{ room.$value }}</a>
        </div>
</section>

<section class="messages-container">
    <h2 class="room-title">{{ home.currentRoom.$value }}</h2>
        <div class="messages-list" ng-repeat="messages in home.messages">
            <div class="username"><strong>{{ messages.username }}:</strong> {{ messages.content }}
            </div>
            <div class="sent-at">{{ messages.sentAt | date: "shortTime" }}</div>
        </div>
</section>

<section class="send-message">
    <hr>
        <input class="message-input" type="text" name="input" placeholder="Type your message here" class ng-model='home.newMessage.content'>
        <button class="send-button" type="button" ng-click="home.sendMessage()">Send Message</button>
</section>
